In [1]:
import numpy as np
import pandas as pd
from pathlib import Path
import fuzzymatcher

## 1. Approach 1 - fuzzymatcher

In [2]:
data_hospital_reimbursement = pd.read_csv("csv_files/hospital_reimbursement.csv")
data_hospital_account_info = pd.read_csv("csv_files/hospital_account_info.csv")

In [3]:
data_hospital_reimbursement.head()

,Provider_Num,Provider Name,Provider Street Address,Provider City,Provider State,Provider Zip Code,Total Discharges,Average Covered Charges,Average Total Payments,Average Medicare Payments
0,839987,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,118,20855.61,5026.19,4115.52
1,519118,MARSHALL MEDICAL CENTER SOUTH,2505 U S HIGHWAY 431 NORTH,BOAZ,AL,35957,43,13289.09,5413.63,4490.93
2,733073,ELIZA COFFEE MEMORIAL HOSPITAL,205 MARENGO STREET,FLORENCE,AL,35631,73,22261.60,4922.18,4021.79
3,201752,MIZELL MEMORIAL HOSPITAL,702 N MAIN ST,OPP,AL,36467,12,10901.33,5343.50,4284.17
4,678488,ST VINCENT'S EAST,50 MEDICAL PARK EAST DRIVE,BIRMINGHAM,AL,35235,74,28117.95,5947.12,4819.53

In [4]:
data_hospital_account_info.head()

,Account_Num,Facility Name,Address,City,State,ZIP Code,County Name,Phone Number,Hospital Type,Hospital Ownership
0,10605,SAGE MEMORIAL HOSPITAL,STATE ROUTE 264 SOUTH 191,GANADO,AZ,86505,APACHE,(928) 755-4541,Critical Access Hospitals,Voluntary non-profit - Private
1,24250,WOODRIDGE BEHAVIORAL CENTER,600 NORTH 7TH STREET,WEST MEMPHIS,AR,72301,CRITTENDEN,(870) 394-4113,Psychiatric,Proprietary
2,10341,DOUGLAS GARDENS HOSPITAL,5200 NE 2ND AVE,MIAMI,FL,33137,MIAMI-DADE,(305) 751-8626,Acute Care Hospitals,Voluntary non-profit - Private
3,81101,SUNCOAST BEHAVIORAL HEALTH CENTER,4480 51ST ST W,BRADENTON,FL,34210,MANATEE,(941) 792-2222,Psychiatric,Proprietary
4,39835,TREASURE VALLEY HOSPITAL,8800 WEST EMERALD STREET,BOISE,ID,83704,ADA,(208) 373-5000,Acute Care Hospitals,Proprietary

In [5]:
left_on = ["Facility Name", "Address", "City", "State"]

right_on = [
    "Provider Name", "Provider Street Address", "Provider City",
    "Provider State"
]

In [6]:
matched_results = fuzzymatcher.fuzzy_left_join(data_hospital_account_info,
                                            data_hospital_reimbursement,
                                            left_on,
                                            right_on,
                                            left_id_col='Account_Num',
                                            right_id_col='Provider_Num')

The sell above might run a few minutes as fuzzy matching algorithm are analyzing a great amount of combinations (`(len(n_datasets)/n)!`, here, more than 14 millions).

Next, I sort `matched_results` columns by first non-index column `best_match_score` and columns from `left_on` and `right_on` with patern of:
- `left_on`[0];
- `right_on` [0];
- `left_on`[1];
- `right_on` [1];
- ...
- `left_on`[n];
- `right_on` [n];

In [7]:
cols = [
    "best_match_score", "Facility Name", "Provider Name", "Address", "Provider Street Address",
    "Provider City", "City", "Provider State", "State"
]

# best 5 results
matched_results[cols].sort_values(by=['best_match_score'], ascending=False).head(5)

,best_match_score,Facility Name,Provider Name,Address,Provider Street Address,Provider City,City,Provider State,State
77657,3.090931,RARITAN BAY MEDICAL CENTER PERTH AMBOY DIVISION,RARITAN BAY MEDICAL CENTER PERTH AMBOY DIVISION,530 NEW BRUNSWICK AVE,530 NEW BRUNSWICK AVE,PERTH AMBOY,PERTH AMBOY,NJ,NJ
533296,2.799072,ROBERT WOOD JOHNSON UNIVERSITY HOSPITAL,ROBERT WOOD JOHNSON UNIVERSITY HOSPITAL,ONE ROBERT WOOD JOHNSON PLACE,ONE ROBERT WOOD JOHNSON PLACE,NEW BRUNSWICK,NEW BRUNSWICK,NJ,NJ
78246,2.785132,AVERA MCKENNAN HOSPITAL & UNIVERSITY HEALTH CE...,AVERA MCKENNAN HOSPITAL & UNIVERSITY HEALTH CE...,1325 S CLIFF AVE POST OFFICE BOX 5045,1325 S CLIFF AVE POST OFFICE BOX 5045,SIOUX FALLS,SIOUX FALLS,SD,SD
242469,2.778860,JOHN T MATHER MEMORIAL HOSPITAL OF PORT JEFFE...,JOHN T MATHER MEMORIAL HOSPITAL OF PORT JEFFE...,75 NORTH COUNTRY ROAD,75 NORTH COUNTRY ROAD,PORT JEFFERSON,PORT JEFFERSON,NY,NY
447706,2.721425,MAYO CLINIC HEALTH SYSTEM - RED WING,MAYO CLINIC HEALTH SYSTEM IN RED WING,"701 HEWITT BOULEVARD, PO BOX 95","701 HEWITT BOULEVARD, PO BOX 95",RED WING,RED WING,MN,MN

In [8]:
# look at the worst matches
matched_results[cols].sort_values(by=['best_match_score'], ascending=False).tail(5)

,best_match_score,Facility Name,Provider Name,Address,Provider Street Address,Provider City,City,Provider State,State
476700,-1.996508,ADMIN DE SERVICIOS MEDICOS PUERTO RIC,MAINE MEDICAL CENTER,BO MONACILLO CARR NUM 22,22 BRAMHALL ST,PORTLAND,SAN JUAN,ME,PR
450628,-2.050888,CENTRO DE SALUD CONDUCTUAL MENONITA-CIMA,MILFORD REGIONAL MEDICAL CENTER,CARR ESTATAL 14 INTERIOR SARGENTO GERARDO SANT...,14 PROSPECT STREET,MILFORD,AIBONITO,MA,PR
42427,-2.106746,HOSPITAL ONCOLOGICO DR ISAAC GONZALEZ MARTINEZ,SCRIPPS MERCY HOSPITAL,BO. MONACILLOS CARR 22 CENTRO MEDICO DE PUERTO...,4077 5TH AVE,SAN DIEGO,SAN JUAN,CA,PR
82750,-2.124071,DOCTOR CENTER HOSPITAL SAN FERNANDO DE LA CARO...,OVERLAKE HOSPITAL MEDICAL CENTER,EDIF JESUS T PINEIRO AVE FERNANDEZ JUNCOS BO P...,1035-116TH AVE NE,BELLEVUE,CAROLINA,WA,PR
426444,-2.268231,CENTRO MEDICO WILMA N VAZQUEZ,BAPTIST MEDICAL CENTER EAST,CARR. 2 KM 39.5 ROAD NUMBER 2 BO ALGARROBO,400 TAYLOR ROAD,MONTGOMERY,VEGA BAJA,AL,PR

This one highlights that part of the issue is that one set of data includes data from Puerto Rico (`data_hospital_account_info`) and the other does not(`data_hospital_reimbursement`).

In [9]:
# look at some of the matches that might be a little more challenging
# by looking at scores < 80
matched_results[cols].query("best_match_score <= .80").sort_values(
    by=['best_match_score'], ascending=False).head(5)

,best_match_score,Facility Name,Provider Name,Address,Provider Street Address,Provider City,City,Provider State,State
518757,0.792471,METHODIST HOSPITAL SOUTH,SOUTH TEXAS REGIONAL MEDICAL CENTER,1905 HWY 97 EAST,1905 HWY 97 EAST,JOURDANTON,JOURDANTON,TX,TX
417086,0.791668,ADVENTIST HEALTH UKIAH VALLEY,UKIAH VALLEY MEDICAL CENTER,275 HOSPITAL DRIVE,275 HOSPITAL DRIVE,UKIAH,UKIAH,CA,CA
303095,0.787163,MADISON HEALTH,MADISON COUNTY HOSPITAL INC,210 NORTH MAIN STREET,210 NORTH MAIN STREET,LONDON,LONDON,OH,OH
388249,0.776632,PENN HIGHLANDS CLEARFIELD,CLEARFIELD HOSPITAL,809 TURNPIKE AVE,809 TURNPIKE AVE,CLEARFIELD,CLEARFIELD,PA,PA
493431,0.775573,MEMORIAL HOSPITAL AT GULFPORT,MEMORIAL HOSPITAL AT GULFPORT,4500 13TH STREET,4500 13TH ST-P O BOX 1810,GULFPORT,GULFPORT,MS,MS

This one shows how some of the matches get a little more ambiguous. For example, is ADVENTIST HEALTH UKIAH VALLEY the same as UKIAH VALLEY MEDICAL CENTER? Depending on the data set priority and is needed.

In [10]:
# save if needed
# matched_results[cols].sort_values(by=['best_match_score'], ascending=True).to_csv('results/fuzzy_matched_results.csv')

## 2. Approach 2 - Python Record Linkage Toolkit

In [32]:
import recordlinkage
data_hospital_reimbursement = pd.read_csv("csv_files/hospital_reimbursement.csv", index_col='Provider_Num')
data_hospital_account_info = pd.read_csv("csv_files/hospital_account_info.csv", index_col='Account_Num')

In [33]:
data_hospital_account_info.head()

,Facility Name,Address,City,State,ZIP Code,County Name,Phone Number,Hospital Type,Hospital Ownership
Account_Num,,,,,,,,,
10605,SAGE MEMORIAL HOSPITAL,STATE ROUTE 264 SOUTH 191,GANADO,AZ,86505,APACHE,(928) 755-4541,Critical Access Hospitals,Voluntary non-profit - Private
24250,WOODRIDGE BEHAVIORAL CENTER,600 NORTH 7TH STREET,WEST MEMPHIS,AR,72301,CRITTENDEN,(870) 394-4113,Psychiatric,Proprietary
10341,DOUGLAS GARDENS HOSPITAL,5200 NE 2ND AVE,MIAMI,FL,33137,MIAMI-DADE,(305) 751-8626,Acute Care Hospitals,Voluntary non-profit - Private
81101,SUNCOAST BEHAVIORAL HEALTH CENTER,4480 51ST ST W,BRADENTON,FL,34210,MANATEE,(941) 792-2222,Psychiatric,Proprietary
39835,TREASURE VALLEY HOSPITAL,8800 WEST EMERALD STREET,BOISE,ID,83704,ADA,(208) 373-5000,Acute Care Hospitals,Proprietary

#### - `indexer.full()` 
(for demo purpose)

In [13]:
indexer = recordlinkage.Index()
indexer.full() # for all the possible combinations

WARNING:recordlinkage:indexing - performance warning - A full index can result in large number of record pairs.

In [14]:
# build up all the potential candidates
candidates = indexer.index(data_hospital_account_info, data_hospital_reimbursement)
print(len(candidates))

14399283

In [29]:
# compare them 
compare = recordlinkage.Compare()
compare.exact('City', 'Provider City', label='City')

compare.string('Facility Name',
            'Provider Name',
            threshold=0.85,
            label='Hosp_Name')

compare.string('Address',
            'Provider Street Address',
            method='jarowinkler',
            threshold=0.85,
            label='Hosp_Address')

In [16]:
# compute 
features = compare.compute(candidates, data_hospital_account_info, 
                           data_hospital_reimbursement)

The sell above might run a few minutes as fuzzy matching algorithm are analyzing a great amount of combinations

#### -`indexer.block()` 
(for demo purpose)
Set block on a column pair.

In [17]:
# set block on the "State - Provider State" column pair
indexer = recordlinkage.Index()
indexer.block(left_on='State', right_on='Provider State')
candidates = indexer.index(data_hospital_account_info, 
                           data_hospital_reimbursement)
print(len(candidates))

475830

#### - indexer.sortedneighbourhood()
Flexibility for minor spelling mistakes

In [34]:
# set block on the "State - Provider State" column pair 
# with sortedneighbourhood
indexer = recordlinkage.Index()
indexer.sortedneighbourhood(left_on='State', right_on='Provider State')
candidates = indexer.index(data_hospital_account_info, 
                           data_hospital_reimbursement)
print(len(candidates))

998860

In [35]:
# as .Compare() was difined, there is no need to do it once again 

# compute with sortedneighbourhood candidates
features = compare.compute(candidates, data_hospital_account_info, 
                           data_hospital_reimbursement)

In [36]:
# display all features
features

                          City  Hosp_Name  Hosp_Address
Account_Num Provider_Num
10605       537184           0        0.0           0.0
            803181           0        0.0           0.0
            450616           0        0.0           0.0
            854377           0        0.0           0.0
            560361           0        0.0           0.0
...                        ...        ...           ...
70226       815904           0        0.0           0.0
            746090           0        0.0           0.0
            193062           0        0.0           0.0
            834984           0        0.0           0.0
            365095           0        0.0           0.0

[998860 rows x 3 columns]

In [37]:
# display match number count
features.sum(axis=1).value_counts().sort_index(ascending=False)

3.0      2285
2.0       451
1.0      7937
0.0    988187
dtype: int64

In [38]:
# get all the records with 2 or 3 matches and add a total score
potential_matches = features[features.sum(axis=1) > 1].reset_index()

potential_matches['Score'] = potential_matches.loc[:, 'City':'Hosp_Address'].sum(axis=1)

In [39]:
potential_matches.head()

   Account_Num  Provider_Num  City  Hosp_Name  Hosp_Address  Score
0        51216        268781     0        1.0           1.0    2.0
1        55272        556917     1        1.0           1.0    3.0
2        87807        854637     1        1.0           1.0    3.0
3        51151        783146     1        0.0           1.0    2.0
4        11740        260374     1        1.0           1.0    3.0

In [40]:
# add column with concatenated name and address lookup
# for each of the source df-s

data_hospital_account_info['Acct_Name_Lookup'] = data_hospital_account_info[[
    'Facility Name', 'Address', 'City', 'State'
]].apply(lambda x: '_'.join(x), axis=1)

data_hospital_reimbursement['Reimbursement_Name_Lookup'] = data_hospital_reimbursement[[
    'Provider Name', 'Provider Street Address', 'Provider City',
    'Provider State'
]].apply(lambda x: '_'.join(x), axis=1)

In [41]:
data_hospital_reimbursement.head()

,Provider Name,Provider Street Address,Provider City,Provider State,Provider Zip Code,Total Discharges,Average Covered Charges,Average Total Payments,Average Medicare Payments,Reimbursement_Name_Lookup
Provider_Num,,,,,,,,,,
839987,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,118,20855.61,5026.19,4115.52,SOUTHEAST ALABAMA MEDICAL CENTER_1108 ROSS CLA...
519118,MARSHALL MEDICAL CENTER SOUTH,2505 U S HIGHWAY 431 NORTH,BOAZ,AL,35957,43,13289.09,5413.63,4490.93,MARSHALL MEDICAL CENTER SOUTH_2505 U S HIGHWAY...
733073,ELIZA COFFEE MEMORIAL HOSPITAL,205 MARENGO STREET,FLORENCE,AL,35631,73,22261.60,4922.18,4021.79,ELIZA COFFEE MEMORIAL HOSPITAL_205 MARENGO STR...
201752,MIZELL MEMORIAL HOSPITAL,702 N MAIN ST,OPP,AL,36467,12,10901.33,5343.50,4284.17,MIZELL MEMORIAL HOSPITAL_702 N MAIN ST_OPP_AL
678488,ST VINCENT'S EAST,50 MEDICAL PARK EAST DRIVE,BIRMINGHAM,AL,35235,74,28117.95,5947.12,4819.53,ST VINCENT'S EAST_50 MEDICAL PARK EAST DRIVE_B...

In [42]:
# create new looked-up dfs
account_lookup = data_hospital_account_info[['Acct_Name_Lookup']].reset_index()
reimbursement_lookup = data_hospital_reimbursement[['Reimbursement_Name_Lookup']].reset_index()

In [43]:
# merge potential_matches + the account data
account_merge = potential_matches.merge(account_lookup, how='left')

In [44]:
account_merge.head()

,Account_Num,Provider_Num,City,Hosp_Name,Hosp_Address,Score,Acct_Name_Lookup
0,51216,268781,0,1.0,1.0,2.0,ST FRANCIS MEDICAL CENTER_2400 ST FRANCIS DRIV...
1,55272,556917,1,1.0,1.0,3.0,SCOTTSDALE OSBORN MEDICAL CENTER_7400 EAST OSB...
2,87807,854637,1,1.0,1.0,3.0,ORO VALLEY HOSPITAL_1551 EAST TANGERINE ROAD_O...
3,51151,783146,1,0.0,1.0,2.0,"ST. LUKE'S BEHAVIORAL HOSPITAL, LP_1800 EAST V..."
4,11740,260374,1,1.0,1.0,3.0,SUMMIT HEALTHCARE REGIONAL MEDICAL CENTER_2200...

In [45]:
# final merge of (potential_matches + the account data) + reimbursement_lookup
final_merge = account_merge.merge(reimbursement_lookup, how='left')

In [46]:
cols = ['Account_Num', 'Provider_Num', 'Score',
        'Acct_Name_Lookup', 'Reimbursement_Name_Lookup']
final_merge[cols].sort_values(by=['Account_Num', 'Score'], ascending=False)

,Account_Num,Provider_Num,Score,Acct_Name_Lookup,Reimbursement_Name_Lookup
2660,94995,825914,3.0,CLAIBORNE MEDICAL CENTER_1850 OLD KNOXVILLE HI...,CLAIBORNE MEDICAL CENTER_1850 OLD KNOXVILLE HI...
1975,94953,819181,3.0,LAKE CHARLES MEMORIAL HOSPITAL_1701 OAK PARK B...,LAKE CHARLES MEMORIAL HOSPITAL_1701 OAK PARK B...
1042,94943,680596,3.0,VALLEY PRESBYTERIAN HOSPITAL_15107 VANOWEN ST_...,VALLEY PRESBYTERIAN HOSPITAL_15107 VANOWEN ST_...
2305,94923,403151,3.0,UNIVERSITY COLO HEALTH MEMORIAL HOSPITAL CENTR...,UNIVERSITY COLO HEALTH MEMORIAL HOSPITAL CENTR...
2512,94887,752284,2.0,NEW YORK-PRESBYTERIAN BROOKLYN METHODIST HOSPI...,NEW YORK METHODIST HOSPITAL_506 SIXTH STREET_B...
...,...,...,...,...,...
2080,10165,188247,3.0,UTAH VALLEY HOSPITAL_1034 NORTH 500 WEST_PROVO_UT,UTAH VALLEY HOSPITAL_1034 NORTH 500 WEST_PROVO_UT
1825,10090,212069,3.0,CANONSBURG GENERAL HOSPITAL_100 MEDICAL BOULEV...,CANONSBURG GENERAL HOSPITAL_100 MEDICAL BOULEV...
2424,10043,140535,3.0,BETH ISRAEL DEACONESS HOSPITAL - PLYMOUTH_275 ...,BETH ISRAEL DEACONESS HOSPITAL - PLYMOUTH_275 ...
1959,10020,210657,3.0,ST FRANCIS MEDICAL CENTER_309 JACKSON STREET_M...,ST FRANCIS MEDICAL CENTER_309 JACKSON STREET_M...
1958,10020,121670,2.0,ST FRANCIS MEDICAL CENTER_309 JACKSON STREET_M...,UNIVERSITY HEALTH CONWAY_4864 JACKSON STREET_M...

One of the differences between the toolkit approach and fuzzymatcher is that we are including multiple matches.

In [47]:
# save if needed
# final_merge.sort_values(by=['Account_Num', 'Score'],  ascending=False).to_csv('results/merged_hospital_list.csv', index=False)

## 3. Deduplicating data with Record Linkage Toolkit

In [51]:
hospital_dupes = pd.read_csv('csv_files/hospital_account_dupes.csv', index_col='Account_Num')

In [52]:
# create the indexer with a sorted neighbor block on State
dupe_indexer = recordlinkage.Index()
dupe_indexer.sortedneighbourhood(left_on='State')
dupe_candidate_links = dupe_indexer.index(hospital_dupes)

In [53]:
# check for duplicates based on city, name and address

compare_dupes = recordlinkage.Compare()

compare_dupes.string('City', 'City', threshold=0.85, label='City')

compare_dupes.string('Phone Number',
                    'Phone Number',
                    threshold=0.85,
                    label='Phone_Num')

compare_dupes.string('Facility Name',
                    'Facility Name',
                    threshold=0.80,
                    label='Hosp_Name')

compare_dupes.string('Address',
                    'Address',
                    threshold=0.85,
                    label='Hosp_Address')

In [54]:
# compute the features
dupe_features = compare_dupes.compute(dupe_candidate_links, hospital_dupes)

In [55]:
dupe_features.head()

                             City  Phone_Num  Hosp_Name  Hosp_Address
Account_Num_1 Account_Num_2
26270         28485           0.0        0.0        0.0           0.0
              30430           0.0        0.0        0.0           0.0
              43602           0.0        0.0        0.0           0.0
59585         28485           0.0        0.0        0.0           0.0
              30430           0.0        0.0        0.0           0.0

In [56]:
# check the dupe number count
dupe_features.sum(axis=1).value_counts().sort_index(ascending=False)

3.0         7
2.0       206
1.0      7859
0.0    973205
dtype: int64

In [57]:
# create a separate ds with the dupe number count 2 and 3;
# add the score column
potential_dupes = dupe_features[dupe_features.sum(axis=1) > 1].reset_index()
potential_dupes['Score'] = potential_dupes.loc[:, 'City':'Hosp_Address'].sum(axis=1)

In [58]:
print("number of dupes: ", potential_dupes.shape[0])
potential_dupes.head()

number of dupes:  213

,Account_Num_1,Account_Num_2,City,Phone_Num,Hosp_Name,Hosp_Address,Score
0,82869,52690,1.0,0.0,0.0,1.0,2.0
1,57289,26270,1.0,0.0,1.0,0.0,2.0
2,21838,70883,1.0,1.0,0.0,0.0,2.0
3,39717,77788,1.0,0.0,0.0,1.0,2.0
4,39717,61353,1.0,1.0,0.0,0.0,2.0

In [59]:
potential_dupes.sort_values(by=['Score'], ascending=False).head(10)

,Account_Num_1,Account_Num_2,City,Phone_Num,Hosp_Name,Hosp_Address,Score
69,24549,28485,1.0,1.0,0.0,1.0,3.0
175,51567,41166,1.0,1.0,1.0,0.0,3.0
140,61685,24849,1.0,1.0,0.0,1.0,3.0
86,70366,52654,1.0,1.0,0.0,1.0,3.0
38,28494,37949,1.0,1.0,0.0,1.0,3.0
183,26495,41079,1.0,1.0,0.0,1.0,3.0
52,74835,77000,1.0,1.0,0.0,1.0,3.0
154,15112,22734,1.0,1.0,0.0,0.0,2.0
153,46034,20336,1.0,1.0,0.0,0.0,2.0
138,87720,54165,1.0,0.0,0.0,1.0,2.0

In [60]:
hospital_dupes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5341 entries, 71730 to 89851
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Facility Name       5341 non-null   object
 1   Address             5341 non-null   object
 2   City                5341 non-null   object
 3   State               5341 non-null   object
 4   ZIP Code            5341 non-null   int64
 5   County Name         5341 non-null   object
 6   Phone Number        5341 non-null   object
 7   Hospital Type       5341 non-null   object
 8   Hospital Ownership  5341 non-null   object
dtypes: int64(1), object(8)
memory usage: 577.3+ KB

In [61]:
hospital_dupes.head()

,Facility Name,Address,City,State,ZIP Code,County Name,Phone Number,Hospital Type,Hospital Ownership
Account_Num,,,,,,,,,
71730,SAGE MEMORIAL HOSPITAL,STATE ROUTE 264 SOUTH 191,GANADO,AZ,86505,APACHE,(928) 755-4541,Critical Access Hospitals,Voluntary non-profit - Private
70116,WOODRIDGE BEHAVIORAL CENTER,600 NORTH 7TH STREET,WEST MEMPHIS,AR,72301,CRITTENDEN,(870) 394-4113,Psychiatric,Proprietary
87991,DOUGLAS GARDENS HOSPITAL,5200 NE 2ND AVE,MIAMI,FL,33137,MIAMI-DADE,(305) 751-8626,Acute Care Hospitals,Voluntary non-profit - Private
22662,SUNCOAST BEHAVIORAL HEALTH CENTER,4480 51ST ST W,BRADENTON,FL,34210,MANATEE,(941) 792-2222,Psychiatric,Proprietary
63165,TREASURE VALLEY HOSPITAL,8800 WEST EMERALD STREET,BOISE,ID,83704,ADA,(208) 373-5000,Acute Care Hospitals,Proprietary

In [62]:
# new deduplicated_df
deduplicated_df = hospital_dupes.drop( index = list(potential_dupes["Account_Num_1"]) )

In [63]:
print(deduplicated_df.shape[0])
deduplicated_df.head()

5157

,Facility Name,Address,City,State,ZIP Code,County Name,Phone Number,Hospital Type,Hospital Ownership
Account_Num,,,,,,,,,
71730,SAGE MEMORIAL HOSPITAL,STATE ROUTE 264 SOUTH 191,GANADO,AZ,86505,APACHE,(928) 755-4541,Critical Access Hospitals,Voluntary non-profit - Private
70116,WOODRIDGE BEHAVIORAL CENTER,600 NORTH 7TH STREET,WEST MEMPHIS,AR,72301,CRITTENDEN,(870) 394-4113,Psychiatric,Proprietary
87991,DOUGLAS GARDENS HOSPITAL,5200 NE 2ND AVE,MIAMI,FL,33137,MIAMI-DADE,(305) 751-8626,Acute Care Hospitals,Voluntary non-profit - Private
22662,SUNCOAST BEHAVIORAL HEALTH CENTER,4480 51ST ST W,BRADENTON,FL,34210,MANATEE,(941) 792-2222,Psychiatric,Proprietary
63165,TREASURE VALLEY HOSPITAL,8800 WEST EMERALD STREET,BOISE,ID,83704,ADA,(208) 373-5000,Acute Care Hospitals,Proprietary

In [64]:
# save if needed
# deduplicated_df.to_csv('results/deduplicated_df.csv')